name: CI Pipeline

on:
  push:

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'   # or whichever version you need

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run only specific tagged cell
        run: 
          pip install papermill
          papermill notebooks/example.ipynb output.ipynb --filter_tag run_me
  

